<div class="buttons-container d-flex flex-wrap">
  <section class="d-flex flex-wrap">
    <div>
      <h2>Primary</h2>
      <button pButton type="button" label="Button" class="p-button-primary"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-primary" disabled="true"></button>
    </div>
    <div>
      <h2>Secondary</h2>
      <button pButton type="button" label="Button" class="p-button-secondary"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-secondary" disabled="true"></button>
    </div>
    <div>
      <h2>Tertiary</h2>
      <button pButton type="button" label="Button" class="p-button-tertiary"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-tertiary" disabled="true"></button>
    </div>
    <div>
      <h2>Danger</h2>
      <button pButton type="button" label="Button" class="p-button-danger"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-danger" disabled="true"></button>
    </div>
    <div>
      <h2>icon+button</h2>
      <button pButton type="button" label="Button" class="p-button-icon-border" icon="pi pi-delete"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-icon-border" icon="pi pi-deleteGray"
        disabled="true"></button>

    </div>
    <div>
      <h2>icon+button</h2>
      <button pButton type="button" label="Button" class="p-button-icon" icon="pi pi-add"></button>
      <br>
      <button pButton type="button" label="Button" class="p-button-icon" icon="pi pi-addGray" disabled="true"></button>
    </div>
  </section>
  <br>
