<h1>Typography</h1>
<p class="pt-10">為求網站易讀性與便於管理，網站中使用統一的文字設定。</p>
<hr>
<p color="primary">中文 思源黑體 Noto Sans TC</p>
<p>英文 Roboto</p>
<p>HTML引用 "Roboto","NotoSans TC", "PingFang TC", "Microsoft JhengHei"</p>
<br>
<h3>相關設定</h3>
<div class="typography-container container pt-10">
  <div class="table-head row">
    <div class="col">
      <h2>中文字型</h2>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h1</p>
    </div>
    <div class="col-9">
      <h1>h1. 思源黑體</h1>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h2</p>
    </div>
    <div class="col-9">
      <h2>h2. 思源黑體</h2>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h3</p>
    </div>
    <div class="col-9">
      <h3>h3. 思源黑體</h3>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h4</p>
    </div>
    <div class="col-9">
      <h4>h4. 思源黑體</h4>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>連結</p>
    </div>
    <div class="col-9">
      <a href="http://www.google.com">思源黑體</a>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>error</p>
    </div>
    <div class="col-9">
      <p class="errorText">思源黑體</p>
    </div>
  </div>
</div>
<div class="typography-container container pt-10 mt-40">
  <div class="table-head row">
    <div class="col">
      <h2>英文字型</h2>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h1</p>
    </div>
    <div class="col-9">
      <h1>h1. Roboto</h1>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h2</p>
    </div>
    <div class="col-9">
      <h2>h2. Roboto</h2>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h3</p>
    </div>
    <div class="col-9">
      <h3>h3. Roboto</h3>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>h4</p>
    </div>
    <div class="col-9">
      <h4>h4. Roboto</h4>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>連結</p>
    </div>
    <div class="col-9">
      <a href="http://www.google.com">Roboto</a>
    </div>
  </div>
  <div class="table-body row pv-10">
    <div class="col-3">
      <p>error</p>
    </div>
    <div class="col-9">
      <p class="errorText">Roboto</p>
    </div>
  </div>
</div>
