<h1>Colours</h1>
<p>網站所使用的主色調、文字色與狀態色，與對應的文字樣式和背景樣式。使用時套用樣式名稱即可。</p>
<hr>
<h2>主色調</h2>
<ul class="mainColor">
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#BC9E5C</p>
  </li>
</ul>
<h2>輔色</h2>
<ul class="secondaryColor">
  <li>
    <div class="colorblock"></div>
    <p>#679482</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#6B95A8</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#CF7480</p>
  </li>
</ul>
<h2>文字顏色</h2>
<ul class="textColor">
  <li>
    <div class="colorblock"></div>
    <p>#333333</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#858585</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#9B9B9B</p>
  </li>
  <li>
    <div class="colorblock"></div>
    <p>#FFFFFF</p>
  </li>
</ul>
