@import "./../../../../assets/scss/variables";
.mainColor,
.secondaryColor,
.textColor {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  li {
    border-radius: 10px;
    margin: 10px 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(186, 186, 186, 0.5);
    p {
      font-size: 14px;
      line-height: 1.71;
      text-align: center;
      color: #6d6d6d;
    }
    .colorblock {
      width: 100px;
      height: 100px;
    }
  }
}
.mainColor {
  li {
    @for $i from 1 through length($mainColor) {
      &:nth-child(#{$i}) {
        .colorblock {
          background-color: nth($mainColor, $i);
        }
      }
    }
  }
}
.secondaryColor {
  li {
    @for $i from 1 through length($secondaryColor) {
      &:nth-child(#{$i}) {
        .colorblock {
          background-color: nth($secondaryColor, $i);
        }
      }
    }
  }
}
.textColor {
  li {
    @for $i from 1 through length($textColor) {
      &:nth-child(#{$i}) {
        .colorblock {
          background-color: nth($textColor, $i);
        }
      }
    }
  }
}
